<div class="container">
  <form [formGroup]="formGroup" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" [hidden]="previewImage">
        <button accesskey="s" immediateClick type="button" (click)="fileInput.click()" class="btn btn-primary">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input #fileInput hidden type="file" accept="image/*" formControlName="file" (change)="fileUpload($event)">
        <small *ngIf="formGroup.get('file')?.errors?.['required']" class="text-danger d-block mt-2"> Por favor,
          selecione uma foto </small>

      </div>
      <div *ngIf="previewImage">
        <div class="text-center">
          <enigma-photo [url]="previewImage" preview="title"></enigma-photo>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control form-control-sm" placeholder="Descrição da foto"
          formControlName="description"></textarea>
        <enigma-vmessage [visible]="visibledValidationMessage" [control]="formGroup.controls['description']">
        </enigma-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">
          Permitir Comentários
          <input type="checkbox" formControlName="allowComments">
        </label>
      </div>
      <div class="progress" *ngIf="percentUploadValue$ | async as percentValue; else setUploading">
        <div class="progress-bar" [style.width.%]="percentValue">{{ percentValue }}%</div>
      </div>
      <ng-template #setUploading>
        <div class="d-flex justify-content-end align-items-end">
          <enigma-hover-button accesskey="cancel" (onClickEvent)="cancelar()" ngButtonClass="dark" ngButtonType="button"
            [label]="cancelOrRemoveLabel" [fontAwesomeIcon]="cancelOrRemoveIcon"  [ngStyle]="{'margin-right': '1vw'}">
          </enigma-hover-button>
          <enigma-hover-button accesskey="u" ngButtonType="submit" [disabled]="formGroup.get('file')?.value == null"
          ngButtonClass="primary" label="Upload" fontAwesomeIcon="upload">
        </enigma-hover-button>
        </div>
      </ng-template>

    </div>
  </form>
</div>
