<div class="container">
  <form [formGroup]="formGroup" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!previewImage; else showPreview">
        <button immediateClick type="button" (click)="fileInput.click()" class="btn btn-primary">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input #fileInput hidden type="file" accept="image/*" formControlName="file" (change)="fileUpload($event)">
        <enigma-vmessage text="Por favor, selecione uma foto" *ngIf="formGroup.get('file')?.errors?.['required']">
        </enigma-vmessage>
      </div>
      <ng-template #showPreview>
        <div class="text-center">
          <enigma-photo [url]="previewImage" preview="title"></enigma-photo>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="reset" class="btn btn-secondary btn-block btn-light" (click)="removePhotoSelected()">Remover
              Foto</button>
          </div>
        </div>
      </ng-template>

    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control form-control-sm" placeholder="Descrição da foto"
          formControlName="description"></textarea>
        <enigma-vmessage text="Informe uma descrição para a foto"
          *ngIf="formGroup.get('description')?.errors?.['required']"></enigma-vmessage>
        <enigma-vmessage text="Desricão excedeu limite de 300 caracteres"
          *ngIf="formGroup.get('description')?.errors?.['maxlength']"></enigma-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">
          Permitir Comentários
          <input type="checkbox" formControlName="allowComments">
        </label>
      </div>
      <div *ngIf="!percentDone; else uploadInfo">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="formGroup.invalid">
          Upload
        </button>
        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancelar</a>
      </div>
      <ng-template #uploadInfo>
        <div class="text-center display-4">Uploading: {{percentDone}}</div>
      </ng-template>

    </div>
  </form>
</div>
