<h4 class="text-center"> Registre-se para conhecer um enigmático mundo novo!</h4>

<form #form="ngForm" [formGroup]="signupForm" class="form mt-4" (submit)="signUp()">
  <div class="form-group">
    <input id="inputEmail" formControlName="email" placeholder="email" class="form-control" autofocus>
    <enigma-vmessage *ngIf="signupForm.get('email')?.errors?.['required'] && form.submitted" text="Email é obrigatório">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('email')?.errors?.['email']  && form.submitted"
      text="Email no formato inválido">
    </enigma-vmessage>
  </div>

  <div class="form-group">
    <input formControlName="fullName" placeholder="Nome completo" class="form-control">
    <enigma-vmessage *ngIf="signupForm.get('fullName')?.errors?.['required']  && form.submitted"
      text="Nome completo é obrigatório">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('fullName')?.errors?.['minlength']  && form.submitted"
      text="Tamanho mínimo para nome completo é 2 caracteres">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('fullName')?.errors?.['maxlength']  && form.submitted"
      text="Tamanho máximo para nome completo é 40 caracteres">
    </enigma-vmessage>
  </div>

  <div class="form-group">
    <input formControlName="userName" placeholder="Usuário" class="form-control">
    <enigma-vmessage *ngIf="signupForm.get('userName')?.errors?.['required']  && form.submitted"
      text="Nome de usuário é obrigatório">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('userName')?.errors?.['lowerCase']  && form.submitted"
      text="Nome de usuário necessita ser em letras minúsculas">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('userName')?.errors?.['minlength']  && form.submitted"
      text="Tamanho mínimo para nome de usuário é 2 caracteres">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('userName')?.errors?.['maxlength']  && form.submitted"
      text="Tamanho máximo para nome de usuário é 30 caracteres">
    </enigma-vmessage>
    <enigma-vmessage text="Usuário já cadastrado"
      *ngIf="signupForm.get('userName')?.errors?.['userNameTaken']  && form.submitted">
    </enigma-vmessage>
    <small *ngIf="signupForm.get('userName')?.valid" class="text-success">Usuário disponível</small>
  </div>

  <div class="form-group">
    <input formControlName="password" type="password" placeholder="senha" class="form-control">
    <enigma-vmessage *ngIf="signupForm.get('password')?.errors?.['required']  && form.submitted"
      text="Senha é obrigatória">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('password')?.errors?.['minlength']  && form.submitted"
      text="Tamanho mínimo para senha é 8 caracteres">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.get('password')?.errors?.['maxlength']  && form.submitted"
      text="Tamanho máximo para senha é 14 caracteres">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.errors?.['userNamePassword']  && form.submitted"
      text="Nome de usuário e senha precisam ser diferentes">
    </enigma-vmessage>
  </div>
  <div class="form-group">
    <input formControlName="confirmPassword" type="password" placeholder="Confirmação de senha" class="form-control">
    <enigma-vmessage *ngIf="signupForm.errors?.['userNamePassword']  && form.submitted"
      text="Nome de usuário e senha precisam ser diferentes">
    </enigma-vmessage>
    <enigma-vmessage *ngIf="signupForm.errors?.['confirmPassword']  && form.submitted" text="Senhas são diferentes">
    </enigma-vmessage>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Registrar</button>

  <p>Já é usuário?<a [routerLink]="['']"> Faça login agora!</a></p>
</form>
