<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2 d-flex align-items-center">
      <img class="img-fluid d-none d-sm-block" src="assets/img/about-us.png" alt="Bem-vindo">
    </div>
    <div class="col-md-6">
      <h4 class="text-center">Sobre nós</h4>
      <p class="text-justify">O projeto "EngimaPic" nasceu com a finalidade de se tornar um destaque no portfólio
        de desenvolvimento web. Utilizando as tecnologias de ponta, o projeto foi criado para exibir as
        habilidades de construção de aplicações modernas. O coração do EngimaPic reside na sinergia entre o framework
        Angular, que proporciona uma experiência de usuário fluida e dinâmica, e as bibliotecas Bootstrap e Font
        Awesome, que conferem um design elegante e responsivo à interface. Complementando essa estrutura, o backend foi
        implementado com a robustez do Express.js, garantindo um desempenho otimizado e uma base sólida.

        Adentrando ao conceito do EngimaPic, desvendamos um mundo enigmático e totalmente novo, onde cada momento se
        transforma em uma história visual. Nesse ambiente, a magia se revela através do ato de compartilhar momentos
        preciosos, interagir por meio de comentários e expressar apreciação por meio das curtidas. Além disso, o portal
        oferece a capacidade intrigante de explorar e encontrar outros usuários, transformando a plataforma em um
        verdadeiro enigma por explorar. Assim, o EngimaPic transcende a mera criação tecnológica, proporcionando uma
        experiência envolvente e mágica que captura a essência da interação humana em um cenário digital.</p>
      <div class="text-center pt-2 pb-2">
        <h4 class="text-center">Contato</h4>
        <enigma-hover-button label="GitHub" ngButtonType="button" ngButtonClass="dark mr-2" fontAwesomeIcon="github"
          (onClickEvent)="openGitHub()"></enigma-hover-button>
        <enigma-hover-button label="LinkedIn" ngButtonType="button" ngButtonClass="primary" fontAwesomeIcon="linkedin"
          (onClickEvent)="openLinkedIn()"></enigma-hover-button>
      </div>
    </div>
  </div>
</div>
