.enigma-expanded-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: width 0.7s;
  position: relative;
}
.enigma-expanded-button:hover {
  width: 180px;
  transition: width 0.7s;
}

.enigma-expanded-button i {
  opacity: 1;
  transition: opacity 0.5s;
}

.enigma-expanded-button:hover i {
  opacity: 0;
  transition: opacity 0.5s;
}

.enigma-expanded-button .button-text {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  width: 100%;
  left: 0;
}

.enigma-expanded-button:hover .button-text {
  opacity: 1;
  transition: opacity 0.5s;
}
