<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand gng-header">
      <i tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
      GNGPIC</a>
    <enigma-menu #menu>
      <ul class="list-group">
        <li showIfLogged class="list-group-item" [routerLink]="['/user', userLogged?.name]">
          <a>Linha do tempo</a>
        </li>
        <li class="list-group-item" [routerLink]="['/user/search']">
          <a>Pesquisar</a>
        </li>
        <li showIfLogged class="list-group-item" [routerLink]="['p', 'add']">
          <a>Upload</a>
        </li>
      </ul>
    </enigma-menu>
    <div *ngIf="userLogged; else login">
      <i class="fa fa-user-circle mr-1"></i>
      <a class="mr-1">{{ userLogged.name }}</a>
      <span class="navbar-text">
        <a class="logout-button" (click)="logout()">(Logout)</a>
      </span>
    </div>

    <ng-template #login>
      <span class="navbar-text">
        <a [routerLink]="['']">Por favor, realize o login!</a>
      </span>
    </ng-template>
  </nav>
  <div class="fixed-top">
    <enigma-loading></enigma-loading>
    <enigma-toast-notification></enigma-toast-notification>
  </div>
</header>
