li:hover {
  cursor: pointer;
  filter: brightness(90%);
}

li a {
  color: black;
}

li:hover a {
  color: black;
  text-decoration: none;
}

.logout-button {
  cursor: pointer;
}

.gng-header {
  font-family: "bauhaus", sans-serif;
  font-size: large;
}
