<ng-container *ngIf="comments">
  <ul class="list-unstyled comment-list" [ngClass]="{'comment-list-min-size-2': comments.length > 1}">
    <li *ngFor="let comment of comments">
      <a class="text-dark font-weight-bold mr-1" [routerLink]="['/user', comment.userName]">
        {{ comment.userName }}
      </a>
      <em>
        {{ comment.date | date:'dd-MM-yyyy HH:mm' }}
      </em>
      <p class="break-word mb-2">
        {{ comment.text }}
      </p>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="!comments">
  <div class="text-center text-muted">
    <p>Ainda não há comentários</p>
  </div>
</ng-container>

<div showIfLogged>
  <form [formGroup]="formGroup" (submit)="save()">
    <div class="input-group">
      <textarea class="form-control" formControlName="comment"></textarea>
    </div>
    <enigma-vmessage [visible]="visibledValidationMessage" [control]="formGroup.controls['comment']">
    </enigma-vmessage>
    <div class=" pt-2 float-right">
      <enigma-hover-button [disabled]="formGroup.invalid" ngButtonClass="primary pull-left" ngButtonType="submit"
        label="Comentar" fontAwesomeIcon="plus"></enigma-hover-button>
    </div>
  </form>
</div>
